{
  "output": "testdata/output",
  "r2": "testdata/prf/r2.nii.gz",
  "polarAngle": "testdata/prf/polarAngle.nii.gz",
  "eccentricity": "testdata/prf/eccentricity.nii.gz",
  "rfWidth": "testdata/prf/rfWidth.nii.gz",
  "surfaces": "testdata/prf/surfaces",
  "prf_surfs": "testdata/prf/prf_surfaces",
  "hcp": false
}
